*{
    margin:0;
    padding:0;
}
.container{
    height:25px;
    width: 55%;
    margin-top:20px;
    text-align:center;
}
table{
    margin:auto;
}
input{
    font-size: 34px;
    border: 4px solid black;
    height: 65px;
    width: 437px;
}
button{
    font-size: 36px;
    background:pink;
    width:99px;
    height: 70px;
    margin:6px;
}
.text-center{
    font-size: 25px;
    padding: 10px;
    border: 5px solid black;
    text-align: center;
}
.calculator{
    border: 4px solid black;
    background-color:cornsilk;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}
.background{
    background:rgba(0, 0, 0, 0.5) url('1.jpg');
    background-size:cover;
    background-blend-mode: darken;
}